/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'PSLDisplayPro';
  src: url('@assets/fonts/PSLDisplayPro.eot');
  font-weight: 400;
}

@font-face {
  font-family: 'PSLDisplayPro';
  src: url('@assets/fonts/PSLDisplayPro.woff') format('woff'),
  url('@assets/fonts/PSLDisplayPro.svg#') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'PSLDisplayPro';
  src: url('@assets/fonts/PSLDisplayProBold.eot');
  font-weight: 700;
}

@font-face {
  font-family: 'PSLDisplayPro';
  src: url('@assets/fonts/PSLDisplayProBold.woff') format('woff'),
  url('@assets/fonts/PSLDisplayProBold.svg#') format('svg');
  font-weight: 700;
}
